<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>Serives</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ab vero pariatur voluptate vel repellendus distinctio dicta quis perferendis, aspernatur libero omnis voluptatum recusandae molestias! Accusantium a obcaecati cum quaerat recusandae inventore repellat vel modi ipsam nihil! Dolore, numquam veniam? Pariatur a officia odio rem accusamus ratione repellendus delectus corrupti temporibus vitae magni saepe necessitatibus omnis aperiam nam quam, obcaecati quia voluptas laborum quod beatae ab at, quaerat in. Nihil repudiandae magni dolorem aliquid repellendus at beatae fugit. Temporibus nostrum nesciunt nemo sint doloribus tempore dignissimos vero optio voluptatem molestiae vel, atque dolores a, aperiam cupiditate architecto repellendus officia qui!</p>
       <button>Contact Us</button>
    </div>
</body>
</html>